.bg-gray-100 {
  background-color: rgb(243 244 246);
}
.bg-gray-400 {
   background-color: rgb(156 163 175);
}
.bg-white {
  background-color: rgb(255, 255, 255);
}
.min-h-screen {
  min-height: 100vh;
}
.color-white {
  color: rgb(255, 255, 255);
}
.pt-20 {
  padding-top: 5rem;
}
.mt-8 {
  margin-top: 2rem;
}

.max-w-80 {
  max-width: 90rem;
}

.shadow {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
.overflow-auto {
  overflow: auto;
}
.min-w-full {
  min-width: 100%;
}
.w-full {
  width: 100%;
}
.p-6 {
  padding: 1.5rem;
}
.pb-8 {
  padding-bottom: 2rem;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.table-grid {
  display: grid;
  grid-auto-columns: minmax(200px, 300px);
  grid-auto-flow: column;
}
.flex {
  display: flex;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
